body {
    background-color: antiquewhite;
}



main {
    background-color: white;
    margin: 10px;
    border-radius: 12px;
    border: 3px solid black;
    padding-top: 10px;
    margin: 30px 40px 10px 40px;
}

#img-div {
    font-style: italic;
    border: 1px solid black;
    background-color: blanchedalmond;
    border-radius: 10px;
    padding-top: 10px;
    margin: 0px 20px 10px 20px;
    text-align: center;
}

#image {
    max-width: 100%;
    height: auto;
}

#tribute-info {
    width: 700px;
    margin: auto;
}

ul > li {
    padding-bottom: 10px;
}

#date {
    color: indigo;
    border-bottom: 3px solid black;
}
img {
    display: block;
    margin: auto;
}
#header {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#footer {
    margin: 30px 0px;
    text-align: center;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}